<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <title>Profile</title>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>

        <div class="container text-center mt-4">
            <h1>Hi, <%= Profiled.username %>
            </h1>
            <p>Your role is <strong>
                    <%= Profiled.role %>
                </strong>
            </p>
            <p>Your Email is <strong>
                    <%= Profiled.email %>
                </strong>
            </p>
            <p>Address :<strong>
                    <%= Profiled.Profile.address %>
                </strong>
            </p>
            <p>Phone number :<strong>
                    <%= Profiled.Profile.phoneNumber %>
                </strong>
            </p>

            <a href="/user/<%= Profiled.id %>/edit" class="btn btn-primary">Edit Profile</a>
        </div>
</body>

</html>